
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

 .header,.hero {
    background-color: #1f2937;
    display: flex;
    justify-content: space-between;
 }

 .logo {
    font-size: 24px;
    color: #f9faf8;
   
 }

 a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
 }

 button{
    color: #e5e7eb;
    background-color:#3882f6;
    padding: 5px 25px;
    border-radius: 10px;
 }

img{
    height: 250px;
    
}

.box {
    border: 5px solid #3882f6;
    width: 150px;
    height: 150px;
}


 .links {
    list-style: none;
    gap: 20px;
 }

 .main-text {
    font-size: 48px;
    font-weight: extra-bold;
    color: #f9faf8;
 }

 .secondary-text {
    font-size:18px;
    color: #e5e7eb;
 }

 ul {
    display: flex;
    
 }