
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

 li,a {
    text-decoration: none;
    font-size: 18px;
    color:#e5e7eb;
    list-style: none;
    
 }


.header {
    color: white;
    background-color: #1f2937;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
    max-width: 500px;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    margin-left:312px;
    margin-right:312px ;
    padding: 10px;
}

ul {
   display: flex;
   gap: 15px;
}

.main-text {
    font-size: 48px;
    font-weight: extra-bold;
    max-width: 444px;
    
}

.secondary-text {
    font-size: 18px;
    color: #e5e7eb;
    max-width: 444px;
}

.hero-section {
    display: flex;
    justify-content: space-around;
    padding: 100px;
}

.primary {
    background-color: #3882f6;
    color: white;
    padding: 8px 25px;
    border-radius: 8px;
}

img {
    max-height: 200px;
    margin-left: 44px;
}
